# macOS
.DS_Store

# Xcode user state
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Xcode Cloud
ci_scripts/output/
**/*.xcodeproj/xcshareddata/xcodecloud/

# Build artifacts
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
.build/

# Playgrounds
timeline.xctimeline
playground.xcworkspace
